.bg-custom-blue {
    background-color: #001355;
}

.login-page {
    background-color: #001355;!important;
}


.text-info {
    color: #001355;
}

.bg-custom-yellow {
    background-color: #ffecaa;
}

.nav-link {
    color: #001355;
}

.additional-fields {
    display: none;
}

table {
    table-layout: fixed;
    width: 100%;
}

table td {
    max-width: 90px;
    text-align: center;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    position: relative;
}

table th {
    text-align: center;
}

.preloader {
    background-color: #001355;
}

.nav-pills .nav-item .nav-link.active {
    background-color: #001355;!important;
    opacity: 0.9;
    color: #FFFFFF;
}

.lis-link {
    background-image: url("/assets/dist/img/Icons/icon_lis_yellow1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
}

.lis-link:hover {
    background-image: url("/assets/dist/img/Icons/icon_lis_yellow2.svg");
}

.lms-link {
    background-image: url("/assets/dist/img/Icons/icon_lms_yellow1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
}

.lms-link:hover {
    background-image: url("/assets/dist/img/Icons/icon_lms_yellow2.svg");
}

.mail-link {
    background-image: url("/assets/dist/img/Icons/icon_mail_yellow1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
}

.mail-link:hover {
    background-image: url("/assets/dist/img/Icons/icon_mail_yellow2.svg");
}

.line {
    -ms-flex: 1 0 32px;
    flex: 1 0 32px;
    min-width: 1px;
    min-height: 1px;
    margin: 15px auto;
    background-color: rgba(0, 0, 0, .12);
}
