.bg-blue-my {
    background-color: #001355;
}

.text-info {
    color: #001355;
}

.bg-custom-yellow {
    background-color: #ffecaa;
}

.nav-link {
    color: #001355;
}

.additional-fields {
    display: none;
}
